<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>begin_lesson</key>
		<integer>1</integer>
		<key>classroom</key>
		<string>网络教室(虚拟)1</string>
		<key>course</key>
		<string>国际职场文化</string>
		<key>course_num</key>
		<string>A1050120</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>0</integer>
		<key>lesson</key>
		<string>一二节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>3周,6周,9周,12周</string>
		<key>teacher</key>
		<string>涂青</string>
		<key>type</key>
		<string>选修</string>
		<key>week</key>
		<array>
			<integer>3</integer>
			<integer>6</integer>
			<integer>9</integer>
			<integer>12</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>3</integer>
		<key>week_end</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>1</integer>
		<key>classroom</key>
		<string>4314-</string>
		<key>course</key>
		<string>国际职场文化</string>
		<key>course_num</key>
		<string>A1050120</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>0</integer>
		<key>lesson</key>
		<string>一二节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-2周,4周,7-8周,10-11周,13-16周</string>
		<key>teacher</key>
		<string>涂青</string>
		<key>type</key>
		<string>选修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>乒乓球馆02</string>
		<key>course</key>
		<string>乒乓球初级2班</string>
		<key>course_num</key>
		<string>A1090032</string>
		<key>day</key>
		<string>星期一</string>
		<key>hash_day</key>
		<integer>0</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>3周</string>
		<key>teacher</key>
		<string>教师9</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>3</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>3</integer>
		<key>week_end</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>乒乓球馆02</string>
		<key>course</key>
		<string>乒乓球初级2班</string>
		<key>course_num</key>
		<string>A1090032</string>
		<key>day</key>
		<string>星期一</string>
		<key>hash_day</key>
		<integer>0</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-18周双周</string>
		<key>teacher</key>
		<string>教师9</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>16</integer>
			<integer>18</integer>
		</array>
		<key>weekModel</key>
		<string>double</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>9</integer>
		<key>classroom</key>
		<string>3109-</string>
		<key>course</key>
		<string>马克思主义基本原理</string>
		<key>course_num</key>
		<string>A1100032</string>
		<key>day</key>
		<string>星期一</string>
		<key>hash_day</key>
		<integer>0</integer>
		<key>hash_lesson</key>
		<integer>4</integer>
		<key>lesson</key>
		<string>九十节</string>
		<key>period</key>
		<integer>3</integer>
		<key>rawWeek</key>
		<string>1-16周</string>
		<key>teacher</key>
		<string>徐强（马院）</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>5</integer>
		<key>classroom</key>
		<string>3104-</string>
		<key>course</key>
		<string>线性代数</string>
		<key>course_num</key>
		<string>A1110032</string>
		<key>day</key>
		<string>星期三</string>
		<key>hash_day</key>
		<integer>2</integer>
		<key>hash_lesson</key>
		<integer>2</integer>
		<key>lesson</key>
		<string>五六节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-12周</string>
		<key>teacher</key>
		<string>吴江</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>5</integer>
		<key>classroom</key>
		<string>3104-</string>
		<key>course</key>
		<string>线性代数</string>
		<key>course_num</key>
		<string>A1110032</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>2</integer>
		<key>lesson</key>
		<string>五六节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-12周</string>
		<key>teacher</key>
		<string>吴江</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3212-</string>
		<key>course</key>
		<string>离散数学B</string>
		<key>course_num</key>
		<string>A1110191</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-16周</string>
		<key>teacher</key>
		<string>何承春</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>9</integer>
		<key>classroom</key>
		<string>3212-</string>
		<key>course</key>
		<string>离散数学B</string>
		<key>course_num</key>
		<string>A1110191</string>
		<key>day</key>
		<string>星期四</string>
		<key>hash_day</key>
		<integer>3</integer>
		<key>hash_lesson</key>
		<integer>4</integer>
		<key>lesson</key>
		<string>九十节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-15周单周</string>
		<key>teacher</key>
		<string>何承春</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>15</integer>
		</array>
		<key>weekModel</key>
		<string>single</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>2117-</string>
		<key>course</key>
		<string>大学物理C（下）</string>
		<key>course_num</key>
		<string>A1110363</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-14周</string>
		<key>teacher</key>
		<string>马艺荣</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>2117-</string>
		<key>course</key>
		<string>大学物理C（下）</string>
		<key>course_num</key>
		<string>A1110363</string>
		<key>day</key>
		<string>星期四</string>
		<key>hash_day</key>
		<integer>3</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-14周</string>
		<key>teacher</key>
		<string>马艺荣</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>5</integer>
		<key>classroom</key>
		<string>3206-</string>
		<key>course</key>
		<string>数据结构</string>
		<key>course_num</key>
		<string>A2130671</string>
		<key>day</key>
		<string>星期一</string>
		<key>hash_day</key>
		<integer>0</integer>
		<key>hash_lesson</key>
		<integer>2</integer>
		<key>lesson</key>
		<string>五六节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-13周</string>
		<key>teacher</key>
		<string>周丽芳</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>1</integer>
		<key>classroom</key>
		<string>3206-</string>
		<key>course</key>
		<string>数据结构</string>
		<key>course_num</key>
		<string>A2130671</string>
		<key>day</key>
		<string>星期三</string>
		<key>hash_day</key>
		<integer>2</integer>
		<key>hash_lesson</key>
		<integer>0</integer>
		<key>lesson</key>
		<string>一二节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-13周单周</string>
		<key>teacher</key>
		<string>周丽芳</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>13</integer>
		</array>
		<key>weekModel</key>
		<string>single</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>1</integer>
		<key>classroom</key>
		<string>计算机教室（七）(综合实验楼B409/B410)</string>
		<key>course</key>
		<string>编程基础III</string>
		<key>course_num</key>
		<string>A2130860</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>0</integer>
		<key>lesson</key>
		<string>一二节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-16周</string>
		<key>teacher</key>
		<string>马创</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3201</string>
		<key>course</key>
		<string>工程伦理</string>
		<key>course_num</key>
		<string>A1035100</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-16周</string>
		<key>teacher</key>
		<string>刘坤</string>
		<key>type</key>
		<string>选修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>9</integer>
		<key>classroom</key>
		<string>2415</string>
		<key>course</key>
		<string>饮食与养生</string>
		<key>course_num</key>
		<string>A1065070</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>4</integer>
		<key>lesson</key>
		<string>九十节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1-8周</string>
		<key>teacher</key>
		<string>姚干</string>
		<key>type</key>
		<string>选修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>物理实验室（二）(综合实验楼C203/C204)</string>
		<key>course</key>
		<string>大学物理实验B（下）</string>
		<key>course_num</key>
		<string>A1110341</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>10周</string>
		<key>teacher</key>
		<string>相国涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>10</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>10</integer>
		<key>week_end</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>物理实验室(一)(综合实验楼C201/C202)</string>
		<key>course</key>
		<string>大学物理实验B（下）</string>
		<key>course_num</key>
		<string>A1110341</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>9周</string>
		<key>teacher</key>
		<string>相国涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>9</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>9</integer>
		<key>week_end</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>物理虚拟仿真实验室(综合实验楼C314/C315/C316)</string>
		<key>course</key>
		<string>大学物理实验B（下）</string>
		<key>course_num</key>
		<string>A1110341</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>7周</string>
		<key>teacher</key>
		<string>相国涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>7</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>7</integer>
		<key>week_end</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>光学设计性实验室(综合实验楼C312/C313)</string>
		<key>course</key>
		<string>大学物理实验B（下）</string>
		<key>course_num</key>
		<string>A1110341</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>6周</string>
		<key>teacher</key>
		<string>相国涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>6</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>6</integer>
		<key>week_end</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>电学设计性实验室(综合实验楼C310/C311)</string>
		<key>course</key>
		<string>大学物理实验B（下）</string>
		<key>course_num</key>
		<string>A1110341</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>4周</string>
		<key>teacher</key>
		<string>相国涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>4</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>4</integer>
		<key>week_end</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>物理创新实验室（二）(综合实验楼C304/C305)</string>
		<key>course</key>
		<string>大学物理实验B（下）</string>
		<key>course_num</key>
		<string>A1110341</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>3周,14周</string>
		<key>teacher</key>
		<string>相国涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>3</integer>
			<integer>14</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>3</integer>
		<key>week_end</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>物理实验室（四）(综合实验楼C209/C210)</string>
		<key>course</key>
		<string>大学物理实验B（下）</string>
		<key>course_num</key>
		<string>A1110341</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>1周</string>
		<key>teacher</key>
		<string>相国涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>1</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>1</integer>
		<key>week_end</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>E资源开发实验室(综合实验楼A501/A502)</string>
		<key>course</key>
		<string>数据结构</string>
		<key>course_num</key>
		<string>A2130671</string>
		<key>day</key>
		<string>星期三</string>
		<key>hash_day</key>
		<integer>2</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>7-13周单周</string>
		<key>teacher</key>
		<string>周丽芳</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>13</integer>
		</array>
		<key>weekModel</key>
		<string>single</string>
		<key>week_begin</key>
		<integer>7</integer>
		<key>week_end</key>
		<integer>13</integer>
	</dict>
</array>
</plist>
