<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>太极运动场06</string>
		<key>course</key>
		<string>体育1（上）花式跳绳</string>
		<key>course_num</key>
		<string>A1090011</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-19周</string>
		<key>teacher</key>
		<string>教师6</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>19</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>5</integer>
		<key>classroom</key>
		<string>3206</string>
		<key>course</key>
		<string>新生研讨课/专业概论</string>
		<key>course_num</key>
		<string>A100003N</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>2</integer>
		<key>lesson</key>
		<string>五六节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-5周</string>
		<key>teacher</key>
		<string>文金</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3405</string>
		<key>course</key>
		<string>C语言程序设计</string>
		<key>course_num</key>
		<string>A1040040</string>
		<key>day</key>
		<string>星期三</string>
		<key>hash_day</key>
		<integer>2</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2周,5-17周</string>
		<key>teacher</key>
		<string>纪良浩</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3504</string>
		<key>course</key>
		<string>形势与政策</string>
		<key>course_num</key>
		<string>A1100010</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>9周</string>
		<key>teacher</key>
		<string>肖妍</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>9</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>9</integer>
		<key>week_end</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3504</string>
		<key>course</key>
		<string>形势与政策</string>
		<key>course_num</key>
		<string>A1100010</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>8周</string>
		<key>teacher</key>
		<string>严小燕</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>8</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>8</integer>
		<key>week_end</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3504</string>
		<key>course</key>
		<string>形势与政策</string>
		<key>course_num</key>
		<string>A1100010</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>7周</string>
		<key>teacher</key>
		<string>曹华</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>7</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>7</integer>
		<key>week_end</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3504</string>
		<key>course</key>
		<string>形势与政策</string>
		<key>course_num</key>
		<string>A1100010</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>6周</string>
		<key>teacher</key>
		<string>严常青</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>6</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>6</integer>
		<key>week_end</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>9</integer>
		<key>classroom</key>
		<string>3407</string>
		<key>course</key>
		<string>中国近现代史纲要</string>
		<key>course_num</key>
		<string>A1100041</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>4</integer>
		<key>lesson</key>
		<string>九十节</string>
		<key>period</key>
		<integer>3</integer>
		<key>rawWeek</key>
		<string>2-17周</string>
		<key>teacher</key>
		<string>邓庆伟</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>3</integer>
		<key>classroom</key>
		<string>3508</string>
		<key>course</key>
		<string>高等数学A(上)</string>
		<key>course_num</key>
		<string>A1110011</string>
		<key>day</key>
		<string>星期一</string>
		<key>hash_day</key>
		<integer>0</integer>
		<key>hash_lesson</key>
		<integer>1</integer>
		<key>lesson</key>
		<string>三四节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-15周</string>
		<key>teacher</key>
		<string>刘勇（数）</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>3508</string>
		<key>course</key>
		<string>高等数学A(上)</string>
		<key>course_num</key>
		<string>A1110011</string>
		<key>day</key>
		<string>星期三</string>
		<key>hash_day</key>
		<integer>2</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2周,5-14周</string>
		<key>teacher</key>
		<string>刘勇（数）</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>1</integer>
		<key>classroom</key>
		<string>3507</string>
		<key>course</key>
		<string>高等数学A(上)</string>
		<key>course_num</key>
		<string>A1110011</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>0</integer>
		<key>lesson</key>
		<string>一二节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-3周,5-14周</string>
		<key>teacher</key>
		<string>刘勇（数）</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>5</integer>
		<key>classroom</key>
		<string>3107</string>
		<key>course</key>
		<string>线性代数</string>
		<key>course_num</key>
		<string>A1110032</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>2</integer>
		<key>lesson</key>
		<string>五六节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-13周</string>
		<key>teacher</key>
		<string>张蓉</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>5</integer>
		<key>classroom</key>
		<string>3107</string>
		<key>course</key>
		<string>线性代数</string>
		<key>course_num</key>
		<string>A1110032</string>
		<key>day</key>
		<string>星期四</string>
		<key>hash_day</key>
		<integer>3</integer>
		<key>hash_lesson</key>
		<integer>2</integer>
		<key>lesson</key>
		<string>五六节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-13周</string>
		<key>teacher</key>
		<string>张蓉</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>9</integer>
		<key>classroom</key>
		<string>5401</string>
		<key>course</key>
		<string>军事理论</string>
		<key>course_num</key>
		<string>A1170010</string>
		<key>day</key>
		<string>星期日</string>
		<key>hash_day</key>
		<integer>6</integer>
		<key>hash_lesson</key>
		<integer>4</integer>
		<key>lesson</key>
		<string>九十节</string>
		<key>period</key>
		<integer>3</integer>
		<key>rawWeek</key>
		<string>2-13周</string>
		<key>teacher</key>
		<string>张杰（双创）</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>5</integer>
		<key>classroom</key>
		<string>3301</string>
		<key>course</key>
		<string>大学生职业发展与就业指导（1）</string>
		<key>course_num</key>
		<string>A1170040</string>
		<key>day</key>
		<string>星期三</string>
		<key>hash_day</key>
		<integer>2</integer>
		<key>hash_lesson</key>
		<integer>2</integer>
		<key>lesson</key>
		<string>五六节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2周,5-9周</string>
		<key>teacher</key>
		<string>刘沙沙</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>1</integer>
		<key>classroom</key>
		<string>4205</string>
		<key>course</key>
		<string>综合英语1</string>
		<key>course_num</key>
		<string>A2051090</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>0</integer>
		<key>lesson</key>
		<string>一二节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-17周</string>
		<key>teacher</key>
		<string>李慧（英语）</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>9</integer>
		<key>classroom</key>
		<string>5413</string>
		<key>course</key>
		<string>英语听说</string>
		<key>course_num</key>
		<string>A2150160</string>
		<key>day</key>
		<string>星期一</string>
		<key>hash_day</key>
		<integer>0</integer>
		<key>hash_lesson</key>
		<integer>4</integer>
		<key>lesson</key>
		<string>九十节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-17周</string>
		<key>teacher</key>
		<string>Allred Connor</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>4414</string>
		<key>course</key>
		<string>托福B</string>
		<key>course_num</key>
		<string>A2150211</string>
		<key>day</key>
		<string>星期二</string>
		<key>hash_day</key>
		<integer>1</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-17周</string>
		<key>teacher</key>
		<string>苑趁趁</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>4414</string>
		<key>course</key>
		<string>托福B</string>
		<key>course_num</key>
		<string>A2150211</string>
		<key>day</key>
		<string>星期四</string>
		<key>hash_day</key>
		<integer>3</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-3周,5-17周</string>
		<key>teacher</key>
		<string>苑趁趁</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>1</integer>
		<key>classroom</key>
		<string>5601</string>
		<key>course</key>
		<string>电子信息工程导论（英）</string>
		<key>course_num</key>
		<string>A2150240</string>
		<key>day</key>
		<string>星期四</string>
		<key>hash_day</key>
		<integer>3</integer>
		<key>hash_lesson</key>
		<integer>0</integer>
		<key>lesson</key>
		<string>一二节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>2-13周</string>
		<key>teacher</key>
		<string>罗忠涛</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>weekModel</key>
		<string>all</string>
		<key>week_begin</key>
		<integer>2</integer>
		<key>week_end</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>begin_lesson</key>
		<integer>7</integer>
		<key>classroom</key>
		<string>计算机教室（七）(综合实验楼B409/B410)</string>
		<key>course</key>
		<string>C语言程序设计</string>
		<key>course_num</key>
		<string>A1040040</string>
		<key>day</key>
		<string>星期五</string>
		<key>hash_day</key>
		<integer>4</integer>
		<key>hash_lesson</key>
		<integer>3</integer>
		<key>lesson</key>
		<string>七八节</string>
		<key>period</key>
		<integer>2</integer>
		<key>rawWeek</key>
		<string>6-12周双周,14-17周</string>
		<key>teacher</key>
		<string>何智光</string>
		<key>type</key>
		<string>必修</string>
		<key>week</key>
		<array>
			<integer>6</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>12</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
		</array>
		<key>weekModel</key>
		<string>double</string>
		<key>week_begin</key>
		<integer>6</integer>
		<key>week_end</key>
		<integer>17</integer>
	</dict>
</array>
</plist>
